<!DOCTYPE html>
<html lang="en">
    {% include 'meta.html' %}

    <body>
        {% include 'navbar.html' %}

        <section class="bg-white">
            <div class="container min-h-screen px-6 py-12 mx-auto lg:flex lg:items-center lg:gap-12">
                <div class="wf-ull lg:w-1/2">
                    <p class="text-sm font-medium text-blue-500 dark:text-blue-400">{{ error_code }} Error </p>
                    <h1 class="mt-3 text-2xl font-semibold text-gray-800 dark:text-white md:text-3xl">{{ reason }}</h1>
                    <p class="mt-4 text-gray-500 dark:text-gray-400">Sorry, something went wrong on our end.</p>

                    <div class="flex items-center mt-6 gap-x-3">
                        <button onclick="location.href='index.html'" type="button" class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 transition-colors duration-200 bg-white border rounded-lg gap-x-2 sm:w-auto dark:hover:bg-gray-800 dark:bg-gray-900 hover:bg-gray-100 dark:text-gray-200 dark:border-gray-700">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:rotate-180">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"></path>
                            </svg>
                            <span>Go back</span>
                        </button>

                        <button onclick="location.href='index.html'" type="button" class="w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-500 rounded-lg shrink-0 sm:w-auto hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600">
                            Take Me Home
                        </button>
                    </div>

                    <div class="mt-10 space-y-6">
                        <div>
                            <a href="https://github.com/Hi-kue/url-shortener-flpy" class="inline-flex items-center text-sm text-blue-500 gap-x-2 dark:text-blue-400 hover:underline">
                                <span>Github Repository</span>

                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:rotate-180">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
                                </svg>
                            </a>

                            <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">Check out the repository for source code.</p>
                        </div>

                        <div>
                            <a href="/about" class="inline-flex items-center text-sm text-blue-500 gap-x-2 dark:text-blue-400 hover:underline">
                                <span>About Section</span>

                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:rotate-180">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
                                </svg>
                            </a>

                            <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">Read what the project is all about.</p>
                        </div>

                        <div>
                            <a href="https://github.com/Hi-kue/url-shortener-flpy/issues" class="inline-flex items-center text-sm text-blue-500 gap-x-2 dark:text-blue-400 hover:underline">
                                <span>Submit a Repo Issue</span>

                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:rotate-180">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
                                </svg>
                            </a>

                            <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">Submit an Issue, and we will check it out.</p>
                        </div>
                    </div>
                </div>

                <div class="relative w-full mt-8 lg:w-1/2 lg:mt-0">
                    <img class=" w-full lg:h-[32rem] h-80 md:h-96 rounded-lg object-cover " src="https://images.unsplash.com/photo-1528756514091-dee5ecaa3278?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                </div>
            </div>
        </section>

        {% include 'footer.html' %}
    </body>
</html>
