<footer class="mx-auto w-full max-w-container px-4 sm:px-6 lg:px-8">
    <div class="border-t border-slate-900/5 py-10">
        <!-- Logo for Url Shortener -->
        <a href="/" class="flex items-center justify-center space-x-2">
            <img src="/static/assets/svgs/url-shortener-logo.svg" alt="Url Shortener Logo" class="h-6 w-6">
            <span class="text-md font-semibold leading-6 text-slate-800">Url Shortener</span>
        </a>

        <p class="mt-5 text-center text-sm leading-6 text-slate-500">© 2024 Muhammad Bilal Khan (Hi-kue). All rights reserved.</p>
        <div class="mt-8 flex items-center justify-center space-x-4 text-sm font-semibold leading-6 text-slate-700">
            <a href="/" class="hover:text-purple-600">Home</a>
            <div class="h-4 w-px bg-slate-500/20"></div>
            <a href="/about" class="hover:text-purple-600">About</a>
            <div class="h-4 w-px bg-slate-500/20"></div>
            <a href="https://github.com/Hi-kue" class="hover:text-purple-600">Other Projects</a>
        </div>
    </div>
</footer>